*{
    margin: 0px;
    padding: 0px;
}

.main-container {
    display: flex;

}

.bigimage {
    height: 825px;
    width: 949px;
    background-image: url('../../../assets/ella-don-GVbd5btrqeA-unsplash\ 1.jpg');
    background-size: cover;
}

.smallImage {
    width: 491px;
    height: 825px;
    background-image: url('../../../assets/danny-howe-bn-D2bCvpik-unsplash\ 2.png');
    background-size: cover;
}

.overlay {
    width: 100%;
    height: 100%;
    margin-top: 210px;
    font-size: 26px;
    font-family: Poppins;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.join-btn {
    height: 84px;
    width: 338px;
    cursor: pointer;
    border-radius: 10px;
    padding: 25px, 57px, 25px, 57px;
    font-family: Poppins;
}

@media only screen and (max-width: 576px) {
    .bigimage {
        height: 425px;
        width: 459px;
    }
    
    .smallImage {
        width: 291px;
        height: 425px;
    }
    .overlay {
    width: 100%;
    height: 40%;
    margin-top: 105px;
    font-size: 13px;
    font-family: Poppins;
    color: white;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    }

    .join-btn {
        height: 44px;
        width: 148px;
    }
}

nav {
    display: flex;
    position: absolute;
    justify-content: space-between;
    align-items: center;
    height: 75px;
    background: rgba(0, 0, 0, 0.3);
}

.searchOpt {
    font-size: 30px;
    height: 30px;
    border-radius: 5px;
}

.links {
    padding: 4px;
    font-family: Saira;
    font-size: 26px;
    color: white;
    text-decoration: none;
    margin-left: 20px;
    margin-right: 20px;
}
.links:hover {
    background-color: #555;
}

#login-style {
    clip-path:  polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    border: 1px solid white;
    background-color: white;
    padding: 10px 28px;
    color: black;
}

#signup-style {
    clip-path:  polygon(25% 0%, 100% 0%, 75% 100%, 0% 100%);
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 10px 28px;
    color: white;
}

@media only screen and (max-width: 576px) {

    .links {
        flex-direction: column;
        padding: 5px;
        font-size: 10px;
        margin-left: 10px;
        margin-right: 10px;
    }
    .searchOpt {
        font-size: 8px;
        height: 5px;
        width: 10%;
    }
    #login-style {
        clip-path: none;
        border: none;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0px 0px;
    color: white;
    }
   
#signup-style {
    clip-path:  none;
    border: none;
    background-color: rgba(0, 0, 0, 0.3);
    padding: 0px 0px;
    color: white;
}
    
}