.main-div {
    background-color: #F5F5F5;
    padding: 25px;
    border-radius: 20px;
    margin-top: 20px;
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Poppins';
}

#search {
    border: 1px solid black;
    border-radius: 5px;
    font-size: 25px;
}

.header-part {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* image part */
.mesorny {
    margin: 20px;
    padding: 20px;
    columns: 4;
    column-gap: 16px;
}

img {
    width: 100%;
    border-radius: 5px;
}

.grid-images {
    display: inline-block;
    margin-bottom: 16px;
    position: relative;
}


@media only screen and (max-width: 576px) {

    #search {
    font-size: 12px;
}
} 
